@import "tailwindcss";

.button{
    width: 150px;
    height: 35px;
}

.donatebutton{
    width: 150px;
    height: 35px;
    display: block;
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    margin-left: 10px;
    padding: 0px;
}