@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-text-primary bg-background min-h-screen;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
}
